
	<section alias="SettingsDashboardForModelsBuilder">
		<areas>
			<area>developer</area>
		</areas>
		<tab caption="Models Builder Settings">
			<access>
				<grant>administrator</grant>
			</access>
			<control>
				/App_Plugins/Our.SettingsDashboardForModelsBuilder/dashboard.html
			</control>
		</tab>
	</section>